:root {
    /* declare a variable with '--' syntax */
    --dark: #33415C;
    --light: #E0FBFC;
    --navlink-color: #E0FBFC;
    --navlink-hover: #1982C4;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    padding-left: 0%;
    /* use CSS var() function to reference a variable created above */
    background-color: var(--dark);
    color: var(--dark);
  }
  
  .header h1 {
    background-color: var(--light);
    padding-left: 4%;
    padding-right: 1%;
    font-size: 300%;
  }

  .header nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
  }

  .header nav a {
    background-color: unset;
    color: var(--navlink-color);
    font-weight: bold;
    text-decoration: underline;
  }

  .header nav a:hover {
    color: var(--navlink-hover);
  }

  .head-image {
    height: 10%;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/pexels-pixabay-373543.jpg");
    background-size: cover;
    background-position: center;
  }

  .subtitle {
    margin-top: 10%;
    margin-right: 4%;
    margin-bottom: 1%;
    background-color: var(--light);
    float:right;
    color: var(--dark);
  }